= link_to "javascript:void(0)", class: "btn btn-secondary" do
  = external_svg_tag("svgs/print.svg")
  %span.d-block.d-lg-none= button_text("print")
  %span.d-none.d-lg-block= button_text("print_invoice")
