.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 0.25rem;
  transition: .2s cubic-bezier(0.3, 0, 0.5, 1) !important;
  transition-property: color,background-color,border-color,box-shadow !important;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  padding: 0.5rem 0.5rem;
  appearance: button;
  -webkit-appearance: button;
  -moz-appearance: button;
  justify-content: center;
}
.btn, .btn:hover, .btn:focus {
  color: var(--btn-fg-color) !important;
}
.btn-close {
  background: transparent image-url("svgs/x-mark.svg") center/1em auto no-repeat;
}
.btn-close:focus {
  box-shadow: none;
}
.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.25rem;
}
.btn-secret-reveal {
  position: absolute;
  left: auto;
  right: 2%;
  top: 30%;
  bottom: auto;
  cursor: pointer;
  background: transparent;
  border: transparent;
  z-index: 4;
}
.btn {
  background-color: var(--btn-bg-color);
  border-color: var(--btn-border-color);
}
.btn:hover {
  background-color: var(--btn-hover-bg-color);
  border-color: var(--btn-hover-border-color);
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  background-color: var(--btn-active-bg-color);
  border-color: var(--btn-active-border-color);
}
.btn:focus-visible, .btn-check:checked + .btn:focus-visible, :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible {
  background-color: var(--btn-focus-bg-color);
  border-color: var(--btn-focus-border-color);
  box-shadow: var(--btn-focus-box-shadow);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  color: var(--btn-disabled-color) !important;
  background-color: var(--btn-disabled-bg);
  border-color: var(--btn-disabled-border-color);
}
