@charset "utf-8";
@import "bootstrap";
@import "variables";
@import "mixins";
@import "animators";
@import "borders";
@import "tables";
@import "tooltips";
@import "badges";
@import "colors";
@import "alerts";
@import "widgets";
@import "modals";
@import "cards";
@import "dropdowns";
@import "pagination";
@import "navbar";
@import "buttons";
@import "input_groups";
@import "form_elements";
@import "validations";
@import "error_layout";
@import "devise_layout";
@import "subheaders";

/* General */
/* 1rem = 16px */
html {
  font-family: inherit;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: "smooth";
}
body {
  font-size: 0.875rem !important;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-image: image-url("background.svg");
  background-color: var(--color-canvas-default);
  color: var(--color-fg-default);
  min-height: 100vh;
  min-width: calc(100vw - 2rem);
  padding-right: 0 !important;
}
* {
  -webkit-font-smoothing: subpixel-antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-decoration-skip: ink !important;
}
:root, [data-bs-theme="light"]  {
  color-scheme: light;
}
[data-bs-theme="dark"]  {
  color-scheme: dark;
}
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
  text-rendering: auto;
  text-transform: none;
  vertical-align: -4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  speak: none;
}
a {
  color: var(--color-accent-fg);
  text-decoration: none;
  filter: brightness(100%);
}
a:link {
  transition: none;
}
.middle-dot-divider {
  @include middle-dot-divider;
}
header, .nav-scroller {
  background-color: var(--color-header-bg) !important;
  color: var(--color-header-fg) !important;
}
footer {
  background-color: var(--color-footer-bg);
  color: var(--color-footer-fg);
  margin-top: auto;
}
.text-default {
  color: var(--color-fg-default) !important;
}
.text-muted {
  color: var(--color-fg-muted) !important;
}
.invoika-logo {
  content: image-url("logo.svg");
  background-repeat: no-repeat;
  height: 48px;
  width: 48px;
}
p {
  word-wrap: break-word;
  word-spacing: normal;
  text-align: justify;
}
.modal-actions, .actions {
  border-top: 1px solid var(--color-border-default);
  padding-top: 0.5rem;
}
.modal-actions .btn {
  float: right;
}
.modal-actions .btn + .btn {
  margin-right: 0.25rem;
}
.btn + .btn, form + form {
  margin-left: 0.25rem;
}
.actions form {
  display: inline-block;
}
#main-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.translation_missing {
  color: var(--color-danger-fg);
}
fieldset {
  border: 1px solid var(--color-border-default);
  border-radius: .25rem;
  padding: .5rem;
  margin-bottom: .5rem;
}
#current-date-time {
  display: flex;
  align-items: center;
  .date, .time {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
  }
}
@media (min-width: 1439px) {
  .align-right-for-full-screen {
    position: absolute !important;
    right: 0 !important;
  }
}
#quote_discount, #invoice_discount {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  margin-right: 1px;
}
#quote_discount_type, #invoice_discount_type {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.turbo-progress-bar {
  background: var(--color-accent-emphasis);
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  color: var(--color-fg-default);
}
.recurring-cycle-icon {
  margin-left: 0.25rem;
  font-size: 15px;
}
.image-preview {
  display: block;
  width: 256px;
  height: 256px;
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 0 0px 8px rgba(173,181,189,0.2);
  border-radius: 0.25rem;
  border: 1px solid var(--color-border-subtle);
  background-position: center;
  margin-bottom: 0.5rem;
}
.image {
  display: inline-block;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
}
.image.image-mini img {
  width: 64px;
  height: 64px;
}
.image-circle, .image-circle img {
  border-radius: 50%;
}
.no-data {
  text-align: center;
  font-weight: bolder;
}
dl {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
dd {
  margin-bottom: .5rem;
}
dl:last-child, dd:last-child {
  margin-bottom: 0rem;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top { border-top: $border-width solid var(--color-border-default) !important; }
    .border#{$infix}-end { border-right: $border-width solid var(--color-border-default) !important; }
    .border#{$infix}-bottom { border-bottom: $border-width solid var(--color-border-default) !important; }
    .border#{$infix}-start { border-left: $border-width solid var(--color-border-default) !important; }

    .border#{$infix}-top-0 { border-top: 0 !important; }
    .border#{$infix}-end-0 { border-right: 0 !important; }
    .border#{$infix}-bottom-0 { border-bottom: 0 !important; }
    .border#{$infix}-start-0 { border-left: 0 !important; }

    .border#{$infix}-x {
      border-left: $border-width solid var(--color-border-default) !important;
      border-right: $border-width solid var(--color-border-default) !important;
    }

    .border#{$infix}-y {
      border-top: $border-width solid var(--color-border-default) !important;
      border-bottom: $border-width solid var(--color-border-default) !important;
    }
    // support of .border-sm (-md, -lg, -xl)
    .border#{$infix} {
      border-top: $border-width solid var(--color-border-default) !important;
      border-bottom: $border-width solid var(--color-border-default) !important;
      border-left: $border-width solid var(--color-border-default) !important;
      border-right: $border-width solid var(--color-border-default) !important;
    }
    .border#{$infix}-0 {
      border-top: 0 !important;
      border-bottom: 0 !important;
      border-left: 0 !important;
      border-right: 0 !important;
    }
  }
}
