@mixin middle-dot-divider {
  &::after {
    // Duplicate `content` property used as a fallback
    content: '\00B7'; // middle dot fallback if browser does not support alternative content
    content: '\00B7' / ''; // tell screen readers to ignore the content https://www.w3.org/TR/css-content-3/#accessibility
    padding: 0 0.5rem 0 0.3rem;
    font-weight: 600;
}

  &:last-child {
    &::after {
      content: '';
      padding: 0;
    }
  }
}

// @each $breakpoint in map-keys($grid-breakpoints) {
//   @include media-breakpoint-up($breakpoint) {
//     $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
//
//     .border#{$infix}-top { border-top: $border-width solid var(--color-border-default) !important; }
//     .border#{$infix}-end { border-right: $border-width solid var(--color-border-default) !important; }
//     .border#{$infix}-bottom { border-bottom: $border-width solid var(--color-border-default) !important; }
//     .border#{$infix}-start { border-left: $border-width solid var(--color-border-default) !important; }
//
//     .border#{$infix}-top-0 { border-top: 0 !important; }
//     .border#{$infix}-end-0 { border-right: 0 !important; }
//     .border#{$infix}-bottom-0 { border-bottom: 0 !important; }
//     .border#{$infix}-start-0 { border-left: 0 !important; }
//
//     .border#{$infix}-x {
//       border-left: $border-width solid var(--color-border-default) !important;
//       border-right: $border-width solid var(--color-border-default) !important;
//     }
//
//     .border#{$infix}-y {
//       border-top: $border-width solid var(--color-border-default) !important;
//       border-bottom: $border-width solid var(--color-border-default) !important;
//     }
//     // support of .border-sm (-md, -lg, -xl)
//     .border#{$infix} {
//       border-top: $border-width solid var(--color-border-default) !important;
//       border-bottom: $border-width solid var(--color-border-default) !important;
//       border-left: $border-width solid var(--color-border-default) !important;
//       border-right: $border-width solid var(--color-border-default) !important;
//     }
//     .border#{$infix}-0 {
//       border-top: 0 !important;
//       border-bottom: 0 !important;
//       border-left: 0 !important;
//       border-right: 0 !important;
//     }
//   }
// }
